.city-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	/*justify-content: center;*/
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-left: 200px;
	margin-right: 200px;
	height: 200px;
  background-color: deepskyblue;
}

button {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:20px;
  border-radius: 8px;
}

input{
width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
}

.city-container .result {
	font-size: 24px;
}

input::placeholder {
    font: 20px/3 sans-serif;
}